body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-content {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

.header-links ul {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 15px;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    margin: 40px 50px;
    display: flex;
    gap: 20px;
}

.hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 66px;
    border-radius: 5px;
    padding: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    margin: 0 150px;
}

.info-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.info-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box .img {
    border: 4px solid #3882F6;
    width: 120px;
    height: 120px;
    border-radius: 5px;
}

.box p {
    font-size: 12px;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-section div {
    margin: 40px 150px 10px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.author {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}


.call-to-action {
    margin: 40px 140px;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px 30px;
    background-color:#3882F6;
    border-radius: 12px;
}

.action-text {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.action-title {
    font-weight:bold;
}
.action-button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 66px;
    height: 25px;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    padding: 5px;
}