body {
    font-family: 'Roboto', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;

}

.header-logo {
    font-weight: bold;
}

.header-links ul {
    display: flex;
    margin: 0;
    font-weight: 300;
    list-style: none;
    gap: 15px;
}

.hero {
    margin: 40px 50px;
    display: flex;
    gap: 20px;
}

.hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-weight: bold;
    font-size: large;
}

.hero-button {
    background-color: lightgrey;
    width: 56px;
    border: solid black;
    padding: 5px;
    border-radius: 15px;
}